@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  /* Include padding and border in size calculation */
  box-sizing: border-box;
  /* Prevent grid and flex items from spilling out of their container */
  min-width: 0;
}

body {
  /* The body fills all the viewport */
  min-height: 100dvh;

  background: rgb(235, 235, 235)
}

h1, h2, h3, h4, h5, h6 {
  /* Balance headings with multiple lines */
  text-wrap: balance;
}

p {
  /* Prevents words from being alone on the last line */
  text-wrap: pretty;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
